*{
    margin: auto;
}


nav {
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 2rem;
    display: flex;
    border-bottom: gray;
    
}

nav div{
    display: flex;
    gap: 0.5rem;
}

nav a{
    color: white;
    text-decoration: none;

}

